#Django
SECRET_KEY=
DJANGO_SETTINGS_MODULE=config.settings
DEBUG=True

#Facebook credentials
FB_APP_SECRET=
FB_APP_ID=
FB_GRAPH_VERSION=
FB_ACCESS_TOKEN=
FB_PAGE_ID=
META_AD_ACCOUNT_ID=


# PostgreSQL
DB_NAME=social_agent_db
DB_USER=social_agent
DB_PASSWORD=social_agent
DB_HOST=localhost
DB_PORT=5433

# Redis
REDIS_URL=redis://localhost:6379

# Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1

#openAI API Key
OPENAI_API_KEY=

#running celery
#celery -A config worker -P gevent -c 50 -l info
#celery -A config beat -l info
